body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

body {
    font-size: :16px;
}


.lead {
    font-size: 18px;
    font-weight: 400;
}

.content {
    padding-top: 53px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 53px;
    text-align: center;
    color: #585858;
    background-color: #F7FBFF;
    background-size: cover;
}

.content-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.content-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.content-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.content-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.navbar-default {
  background-color: #2E94DB;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-fixed-top {
  top: 0;
  border-bottom: 3px solid #0c79c3;
  }

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

/*--------------LOGIN FORM--------------*/
.content-login {
    position: relative;
    padding-top: 10%;
    padding-bottom: 5%; 
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.1);
}

.form-group {
    margin-top: 25px;
}

.form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    @include box-sizing(border-box);

    &:focus {
        z-index: 2;
    }
}


/*--------------FILE DETAILS--------------*/

.content-details {
    text-align: left; 
}


.meta-details div:nth-child(n+1){
    line-height: 25px;
}
.meta-details{
    border-bottom: 1px solid whitesmoke;
}

/*--------------FILE DETAILS--------------*/

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 20px 0;
    background-color: #035186;
    text-align: right;
}

.text-muted {
color: #ffffff;
}

p.copyright {
    margin: 15px 0 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 16px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}